<%= render 'navbar' %>

<section class="section">
  <div class="container">
    <div class="columns">

      <% @projects.each do |project| %>
        <div class="column is-one-third">
          <div class="card">

            <header class="card-header">
              <p class="card-header-title">
                <%= project.title %>
              </p>
            </header>

            <div class="card-content">
              <div class="content">
                <dl>

                  <% project.todos.each do |todo| %>
                    <dt>
                      <label>
                      <%= check_box_tag todo.id, todo.isCompleted, todo.isCompleted %>

                      <%= link_to "#{todo.text}", "/projects/#{project.id}/todos/#{todo.id}",
                              id: "todo-#{todo.id}",
                              class: 'is-strikethrough',
                              remote: true,
                              method: :patch
                      %>
                    </label>



                    </dt>
                  <% end %>

                </dl>
              </div>
            </div>

          </div>
        </div>
      <% end %>

    </div>
  </div>
</section>

<%= render 'modal_window' %>

<%= javascript_pack_tag 'todo' %>
